//
  Oh hey! Way to dig deep here. This site was over-engineered (always a good time)
  by using Pug/Jade as an HTML template language, LESS to generate CSS,
  and I minified all JS (which, btw, is plain, fast JS, not jQuery!). These
  operations are managed with gulp.js, and all available on GitHub!
  https://github.com/gswalden/gsw.nyc

head(itemscope, itemtype='http://schema.org/Person')
  
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  include seo

  link(href='../build/gsw.css', rel='stylesheet', inline)
  
  noscript
    style #headline { opacity: 1; }
